* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.border {
  border: var(--border);
}

.shadow {
  box-shadow: var(--shadow-s);
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.flex-basis{
  flex: 1 1 30%;
}

.gap{
  gap: var(--spacing-4);
}
