* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.border {
  border: var(--border);
}

.shadow {
  box-shadow: var(--shadow-s);
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.item-number {
  position: absolute;
  top: 0;
  right: 0;
}

.remove-text-decoration {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: var(--spacing-l);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-dark);
  border: var(--spacing-s) solid transparent;
  background-clip: content-box;
  border-radius: 6px;
}

.cart-image {
  height: 200px;
}

@media screen and (max-width: 650px) {
  .show-quantity {
    display: none;
  }
}
